.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

@font-face {
    font-family: '04b08';
    src:url('../webfonts_04b08/04b08.ttf.woff') format('woff'),
        url('../webfonts_04b08/04b08.ttf.svg#04b08') format('svg'),
        url('../webfonts_04b08/04b08.ttf.eot'),
        url('../webfonts_04b08/04b08.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



p {
  margin-bottom: 50px;
}


#player1 {
  margin-left: 0;
}

#player2 {
  margin-left: 0;
}

.end-pic {
  position: absolute;
  left: 93.5%;
}

#logo {
  font-size: 5.5em;
}

#reset_button {
  display: inline-block;
  background: black;
  color: #00FF00;
  box-shadow: 0 0 10px #00FF00;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
}

.victory h2 {
  background: blue;
}

.victory h1 {
  background: blue;
}

#result {
  background: blue;
}


#victory {
  display: none;
  text-align: center;
}

#track {
  text-align: left;
}

body {
  background-image: url('../space.jpg');
  color: #00FF00;
  font-family: '04b08';
}

h1 {
  font-family: '04b08';
  font-size: 4em;
  margin-bottom: 0;
}
