<div class="container">
  <h1 id="logo">WHO RACER</h1>
  <h3>EXTERMINATE THE COMPETITION</h3>

  <div id="track">
    <div id="p1-track">
      <img id="player1" src='../ten.png'>
      <img class="end-pic" src="../tardis.png">
    </div>
    <div id="p2-track">
      <img id="player2" src='../eleven.png'>
      <img class="end-pic" src="../tardis.png">
    </div>
  </div>

  <button id='reset_button' type='button'>START</button>


    <div id="victory" class="victory">
        <h1 id="victory-message"></h1>
        <h2>WELL DONE, HUMAN.</h2>
        <h3 id="result"></h3>
    </div>


</div>
