<div class="container">
  <h1>WHO RACER</h1>
  <p>EXTERMINATE THE COMPETITION</p>

<table class="racer_table">
  <tr id="player1_strip">
    <td class="start active"></td>
    <!-- <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>-->
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"><img src="../tardis.png"></td>
  </tr>
  <tr id="player2_strip">
    <td class="start active"></td>
    <!-- <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td> -->
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"><img src="../tardis.png"></td>
  </tr>
</table>
</div>

<div class='container'>
  <button id='reset_button' type='button'>START</button>
</div>

<div id="victory1" class="victory">
    <h1>PLAYER 1 IS VICTORIOUS!</h1>
    <p>WELL DONE, HUMAN.</p>
</div>

<div id="victory2" class="victory">
    <h2>PLAYER 2 IS VICTORIOUS!</h2>
    <p>WELL DONE, HUMAN.</p>
</div>



