<div class="container">
  <h1 id="logo">WHO RACER</h1>
  <h3>EXTERMINATE THE COMPETITION</h3>

<table class="racer_table">
  <tr id="player1_strip">
    <td class="start active"></td>
    <!-- <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>-->
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"><img src="../tardis.png"></td>
  </tr>
  <tr id="player2_strip">
    <td class="start active"></td>
    <!-- <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td> -->
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="end"><img src="../tardis.png"></td>
  </tr>
</table>
</div>

<div class='container'>
  <button id='reset_button' type='button'>START</button>


    <div id="victory1" class="victory">
        <h1>PLAYER 1 IS VICTORIOUS!</h1>
        <h2>WELL DONE, HUMAN.</h2>
    </div>

    <div id="victory2" class="victory">
        <h1>PLAYER 2 IS VICTORIOUS!</h1>
        <h2>WELL DONE, HUMAN.</h2>
    </div>

    <h3 id="result"></h3>

</div>


